{% block styles %}
    <link rel="stylesheet" href="/css/header.css">
{% endblock %}

<header>
    <nav aria-label="site navigation">
        <ul role="navigation">
            <div id="logo">
                <li aria-label="link to home"><a href="/" class="grow-rotate-on-hover"><img src="/assets/images/logo.png" alt="hubbub logo" width="300px"></a></li>
            </div>
            <div id="header-links">
                <li class="grow-rotate-on-hover"><a class="grow-rotate-on-hover" href="/digitalgardens" aria-label="Digital Gardens link">Digital Gardens</a></li>
                <li class="grow-rotate-on-hover"><a href="/artistlist" class="grow-rotate-on-hover" aria-label="Artists link">Artists</a></li>
                <li class="grow-rotate-on-hover"><a href="https://ko-fi.com/amespace/shop" target="_blank" rel="noopener noreferrer" class="grow-rotate-on-hover" aria-label="Get Tickets link">Get Tickets ↗<span class="screen-reader-only">(opens in new tab)</span></a></li>
            </div>
        </ul>
    </nav>
</header>