<header>
    <nav aria-label="site navigation">
        <ul role="navigation">
            <li role="nav link" aria-label="link to home"><a href="/"><img src="/assets/images/logo.png" alt="hubbub logo" width="300px"></a></li>
            <li role="nav link">
                <button class="dropdown-button" aria-expanded="false" aria-label="programmes dropdown">Programmes &#x2304;</button>
                <ul class="dropdown-content" role="menu">
                    <li role="nav link"><a href="/digitalgardens">Digital Gardens</a></li>
                </ul>
            </li>
            <li role="nav link"><a href="/artistlist">Artists</a></li>
        </ul>
    </nav>
    <nav aria-label="external links">
        <ul role="menu">
            <li role="menuitem"><a href="#" target="_blank" rel="noopener noreferrer">Get Tickets ↗<span class="screen-reader-only">(opens in new tab)</span></a></li>
            <li role="menuitem"><a href="#" target="_blank" rel="noopener noreferrer"><img src="#" alt="twitter logo"><span class="screen-reader-only">(opens in new tab)</span></a></li>
            <li role="menuitem"><a href="#" target="_blank" rel="noopener noreferrer"><img src="#" alt="instagram logo"><span class="screen-reader-only">(opens in new tab)</span></a></li>
            <li role="menuitem"><a href="#" target="_blank" rel="noopener noreferrer"><img src="#" alt="facebook logo"><span class="screen-reader-only">(opens in new tab)</span></a></li>
        </ul>
    </nav>
</header>