<header>
    <nav aria-label="site navigation">
        <ul role="navigation">
            <li aria-label="link to home"><a href="/"><img src="/assets/images/logo.png" alt="hubbub logo" width="300px"></a></li>
            <li><a href="/digitalgardens">Digital Gardens</a></li>
            <li><a href="/artistlist">Artists</a></li>
            <li><a href="https://ko-fi.com/amespace/shop" target="_blank" rel="noopener noreferrer">Get Tickets ↗<span class="screen-reader-only">(opens in new tab)</span></a></li>
        </ul>
    </nav>
</header>